# Dependencies
node_modules/

# Build output
dist/
coverage/

# Environment variables
.env
.env.*

# TypeScript
*.tsbuildinfo

# Prisma
/generated/prisma

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store

.vercel
